body {
	width: 300px;
	margin: 2% auto 0;
}

body, div, a {
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #F3F3F3;
}

#calculator {
    height: 460px;
    width: 310px;
    border: 2px solid #000;
    margin: 0 5px;
    padding: 5px 5px;
    background-color: #F3F3F3;
    
}

#total {
    float: right;
    height: 70px;
    width: 305px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #000;
    font-size: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000;
    
}

a {
    cursor: pointer;
}

#numbers a {
    float: left;
    margin: 5px 10px 5px;
    padding: 5px 10px 5px;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #CCC;
    border: 1px solid #000;
    font-size: 45px;
    
    
}

#operators a {
    float: left;
    margin: 5px 5px;
    padding: 5px;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #E1E1E1;
    border: 1px solid #000;
    font-size: 30px;
}







